.App {
    background-color: white;
  }
  
  .Auth-form-container-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  
    /* height: 100vh; */
  }
  
  .Auth-form-user {
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }

.data{
    width: 700px;
    padding: 40px;
    margin-top: 60px;
} 
  
  .Auth-form-content-user {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title-user {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }